---
- block:
  - include_role:
      name: software_install
      tasks_from: core

  - name: "Ensure GnuTLS is installed"
    package:
      name: "{{ 'gnutls-devel' if ansible_os_family in ['RedHat', 'Fedora'] else 'libgnutls28-dev' }}"
      state: present

  - include_role:
      name: software_install
      tasks_from: download_software

  - include_role:
      name: software_install
      tasks_from: extract_software

  - include_role:
      name: software_install
      tasks_from: build_software
  vars:
    name: "wget"
    version: "1.21.3"
    file: "wget-{{ version }}.tar.gz"
    source: "https://ftp.gnu.org/gnu/wget/{{ file }}"

    description: "GNU Wget is a free software package for retrieving files using HTTP, HTTPS, FTP and FTPS, the most widely used Internet protocols. It is a non-interactive commandline tool, so it may easily be called from scripts, cron jobs, terminals without X-Windows support, etc."
    website: "https://www.gnu.org/software/wget"
    testing: "wget --help"
