---
- include_role:
    name: software_install
  vars:
    steps:
      - download_software
      - extract_software
      - build_software
    name: "udunits"
    version: "2.2.28"
    file: "udunits-{{ version }}.tar.gz"
    source: "https://downloads.unidata.ucar.edu/udunits/{{ version }}/{{ file }}"
    build_env:
      PKG_CONFIG_PATH: "{{ software_info.libexpat.install_path }}/lib/pkgconfig"
      CFLAGS: "-I{{ software_info.libexpat.install_path }}/include"
      LDFLAGS: "-L{{ software_info.libexpat.install_path }}/lib"

    description: "The UDUNITS package from Unidata is a C-based package for the programatic handling of units of physical quantities."
    website: "http://www.unidata.ucar.edu/downloads/udunits/index.jsp"
    testing: "udunits2"
