local modulefile_template = loadfile("{{ lmod_template_path }}")()

modulefile_template({
  {% if name is defined %}
  name = "{{ name }}",
  {% endif -%}
  {% if version is defined %}
  version = "{{ version }}",
  {% endif -%}
  {% if install_path is defined %}
  install_path = "{{ install_path }}",
  {% endif -%}
  {% if description is defined %}
  description = "{{ description | trim | replace('\n', '\\n\t\t\t\t   ') }}",
  {% endif -%}
  {% if usage_notes is defined %}
  usage_notes = "{{ usage_notes }}",
  {% endif -%}
  {% if testing is defined %}
  testing = "{{ testing }}",
  {% endif -%}
  {% if website is defined %}
  website = "{{ website }}",
  {% endif -%}
  {% if source is defined %}
  source = "{{ source }}",
  {% endif -%}
  {% if depends_on is defined %}
  required_modules = {
    {% for module in depends_on %}
    "{{ module }}"{% if not loop.last %},{% endif -%}
    {% endfor -%}
  },
  {% endif -%}
  {% if prepend_paths is defined %}
  prepend_paths = {
    {% for key, value in prepend_paths.items() %}
    {{ key }} = "{{ value }}"{% if not loop.last %},{% endif -%}
    {% endfor -%}
  },
  {% endif -%}
  {% if env_vars is defined %}
  env_vars = {
    {% for key, value in env_vars.items() %}
    {{ key }} = "{{ value }}"{% if not loop.last %},{% endif -%}
    {% endfor -%}
  },
  {% endif -%}
  {% if shell_functions is defined %}
  shell_functions = {
    {% for func in shell_functions %}
    "{{ func }}"{% if not loop.last %},{% endif -%}
    {% endfor -%}
  },
  {% endif -%}
  {% if conflicts is defined %}
  conflicts = {
    {% for module in conflicts %}
    "{{ module }}"{% if not loop.last %},{% endif -%}
    {% endfor -%}
  },
  required_modules = {
    {% for module in depends_on %}
    "{{ module }}"{% if not loop.last %},{% endif -%}
    {% endfor -%}
  },
  {% endif -%}
  built_by = "{{ built_by | default('IASTATE') }}",
  build_date = "{{ build_date | default(ansible_date_time.date) }}",
})
