- include_role:
    name: software_install
  vars:
    steps:
      - download_software
      - extract_software
      - build_software
    name: "ninja"
    version: "1.11.1"
    file: "v{{ version }}.tar.gz"
    source: "https://github.com/ninja-build/ninja/archive/refs/tags/{{ file }}"
    build_system: "cmake"
