---
- name: "Determine build system for {{ name }}"
  set_fact:
    "{{ name }}_build_system": "{{ vars.get(name ~ '_build_system', 'autotools') }}"
  when: not vars.get(name ~ '_skip')

- name: "Fail if build_system is invalid for {{ name }}"
  fail:
    msg: "Invalid build_system '{{ vars.get(name ~ '_build_system') }}'. Must be one of: cmake, autotools, make, meson."
  when:
    - not vars.get(name ~ '_skip')
    - vars.get(name ~ '_build_system') not in ['cmake','autotools','make','meson']

- name: "Determine build commands for {{ name }}"
  set_fact:
    "{{ name }}_default_build_configure_cmd": >-
      {% if vars.get(name ~ '_build_system') == 'cmake' %}
      cmake -B build -DCMAKE_INSTALL_PREFIX={{ vars.get(name ~ '_install_path') }} {{ vars.get(name ~ '_build_configure_flags', '') }}
      {% elif vars.get(name ~ '_build_system') == 'autotools' %}
      ./configure --prefix={{ vars.get(name ~ '_install_path') }} {{ vars.get(name ~ '_build_configure_flags', '') }}
      {% elif vars.get(name ~ '_build_system') == 'make' %}
      true
      {% elif vars.get(name ~ '_build_system') == 'meson' %}
      meson setup build --prefix={{ vars.get(name ~ '_install_path') }} {{ vars.get(name ~ '_build_configure_flags', '') }}
      {% endif %}
    "{{ name }}_default_build_make_cmd": >-
      {% if vars.get(name ~ '_build_system') == 'cmake' %}
      cmake --build build -- -j {{ ansible_process_vcpus | default(4) }} {{ vars.get(name ~ '_build_make_flags', '') }}
      {% elif vars.get(name ~ '_build_system') in ['autotools','make'] %}
      make -j {{ ansible_process_vcpus | default(4) }} {{ vars.get(name ~ '_build_make_flags', '') }}
      {% elif vars.get(name ~ '_build_system') == 'meson' %}
      ninja -C build -j {{ ansible_process_vcpus | default(4) }} {{ vars.get(name ~ '_build_make_flags', '') }}
      {% endif %}
    "{{ name }}_default_build_install_cmd": >-
      {% if vars.get(name ~ '_build_system') == 'cmake' %}
      cmake --install build {{ vars.get(name ~ '_build_install_flags', '') }}
      {% elif vars.get(name ~ '_build_system') in ['autotools','make'] %}
      make install {{ vars.get(name ~ '_build_install_flags', '') }}
      {% elif vars.get(name ~ '_build_system') == 'meson' %}
      ninja -C build install {{ vars.get(name ~ '_build_install_flags', '') }}
      {% endif %}

- name: "Build {{ name }} - Configure"
  command: "{{ vars.get(name ~ '_build_configure_cmd', vars.get(name ~ '_default_build_configure_cmd')) }}"
  args:
    chdir: "{{ vars.get(name ~ '_build_dir', vars.get(name ~ '_build_path')) }}"
  environment: "{{ vars.get(name ~ '_build_env', {}) }}"
  when:
    - not vars.get(name ~ '_skip')
    - vars.get(name ~ '_build_system') != 'make'

- name: "Build {{ name }} - Make"
  command: "{{ vars.get(name ~ '_build_make_cmd', vars.get(name ~ '_default_build_make_cmd')) }}"
  args:
    chdir: "{{ vars.get(name ~ '_build_dir', vars.get(name ~ '_build_path')) }}"
  environment: "{{ vars.get(name ~ '_build_env', {}) }}"
  when: not vars.get(name ~ '_skip')

- name: "Build {{ name }} - Install"
  command: "{{ vars.get(name ~ '_build_install_cmd', vars.get(name ~ '_default_build_install_cmd')) }}"
  args:
    chdir: "{{ vars.get(name ~ '_build_dir', vars.get(name ~ '_build_path')) }}"
  environment: "{{ vars.get(name ~ '_build_env', {}) }}"
  when: not vars.get(name ~ '_skip')
