---
- name: "Store version for {{ name }}/{{ vars.get(name ~ '_version', vars.get(name ~ '_default_version')) }}"
  set_fact:
    "{{ name }}_version": >-
      {{ vars.get(name ~ '_version', vars.get(name ~ '_default_version')) }}

- name: "Determine base path for {{ name }}/{{ vars[name ~ '_version'] }}"
  set_fact:
    "{{ name }}_base_path": >-
      {{ containers_path if vars.get(name ~ '_container', false) else software_path }}

- name: "Determine install path for {{ name }}/{{ vars[name ~ '_version'] }}"
  set_fact:
    "{{ name }}_install_path": >-
      {{
        [
          vars[name ~ '_base_path'],
          ( 'apps' if not vars.get(name ~ '_container', false) else none ),
          name,
          vars[name ~ '_version']
        ]
        | select('defined')
        | join('/')
      }}

- name: "Check if {{ name }}/{{ vars[name ~ '_version'] }} is already installed"
  find:
    paths: "{{ vars[name ~ '_install_path'] }}"
    file_type: any
    recurse: no
  register: found_result

- name: "Determine if {{ name }}/{{ vars[name ~ '_version'] }} should be rebuilt"
  set_fact:
    "{{ name }}_force_rebuild": >-
      {{
        (force_rebuild | default(false))
        or
        (name in (software_rebuild_list | default([])))
      }}

- name: "Set {{ name }}/{{ vars[name ~ '_version'] }} skip flag"
  set_fact:
    "{{ name }}_skip": >-
      {{
        ((name ~ '/' ~ vars[name ~ '_version']) in (software_done | default([])))
        or
        name in (software_failed | default ([]))
        or
        (
        found_result.matched > 0
        and
        not vars[name ~ '_force_rebuild']
        )
      }}

- block:
  - name: "Determine modulefile path for {{ name }}/{{ vars[name ~ '_version'] }}"
    set_fact:
      "{{ name }}_modulefile_path": >-
        {{ [ vars[name ~ '_base_path'], 'modulefiles', name ] | join('/') }}

  - name: "Create installation directories for {{ name }}/{{ vars[name ~ '_version'] }}"
    file:
      path: "{{ dir }}"
      state: directory
      mode: "0755"
    loop:
      - "{{ vars[name ~ '_install_path'] }}"
      - "{{ vars[name ~ '_modulefile_path'] }}"
    loop_control:
      loop_var: dir

  - name: "Create modulefile for {{ name }}/{{ vars[name ~ '_version'] }}"
    template:
      src: "lmod-template.j2"
      dest: "{{ vars[name ~ '_modulefile_path'] }}/{{ vars[name ~ '_version'] }}.lua"
      mode: "0644"

  - name: "Set default modulefile for {{ name }}/{{ vars[name ~ '_version'] }}"
    file:
      src: "{{ vars[name ~ '_version'] }}.lua"
      dest: "{{ vars[name ~ '_modulefile_path'] }}/default.lua"
      state: link
      force: yes
    when: vars[name ~ '_version'] == vars.get(name ~ '_default_version')
  when: not vars[name ~ '_skip']
