---
- name: "Store version for {{ name }}/{{ vars.get(name ~ '_version', vars.get(name ~ '_default_version')) }}"
  set_fact:
    "{{ name }}_version": >-
      {{ vars.get(name ~ '_version', vars.get(name ~ '_default_version')) }}

- name: "Determine base path for {{ name }}/{{ vars[name ~ '_version'] }}"
  set_fact:
    "{{ name }}_base_path": >-
      {{ containers_path if vars.get(name ~ '_container', false) else software_path }}

- name: "Determine install paths for {{ name }}/{{ vars[name ~ '_version'] }}"
  set_fact:
    "{{ name }}_install_path": >-
      {{
        [
          vars[name ~ '_base_path'],
          ( 'apps' if not vars.get(name ~ '_container', false) else '' ),
          name,
          vars[name ~ '_version']
        ]
        | select('truthy')
        | join('/')
      }}
    "{{ name }}_modulefile_dir_path": >-
      {{ [ vars[name ~ '_base_path'], 'modulefiles', name ] | join('/') }}
    "{{ name }}_modulefile_path": >-
      {{ [ vars[name ~ '_base_path'], 'modulefiles', name, vars[name ~ '_version'] ~ '.lua' ] | join('/') }}

- name: "Check if {{ name }}/{{ vars[name ~ '_version'] }} is already installed"
  stat:
    path: "{{ vars[name ~ '_modulefile_path'] }}"
  register: modulefile_stat

- name: "Determine if {{ name }}/{{ vars[name ~ '_version'] }} should be rebuilt"
  set_fact:
    "{{ name }}_force_rebuild": >-
      {{
        (force_rebuild | default(false))
        or
        (name in (software_rebuild_list | default([])))
      }}

- name: "Set {{ name }}/{{ vars[name ~ '_version'] }} skip flag"
  set_fact:
    "{{ name }}_skip": >-
      {{
        ((name ~ '/' ~ vars[name ~ '_version']) in (software_done | default([])))
        or
        name in (software_failed | default ([]))
        or
        (
        modulefile_stat.stat.exists
        and
        not vars[name ~ '_force_rebuild']
        )
      }}

- block:
  - name: "Create installation directories for {{ name }}/{{ vars[name ~ '_version'] }}"
    file:
      path: "{{ dir }}"
      state: directory
      mode: "0755"
    loop:
      - "{{ vars[name ~ '_install_path'] }}"
      - "{{ vars[name ~ '_modulefile_dir_path'] }}"
    loop_control:
      loop_var: dir
  when: not vars[name ~ '_skip']
