---
- block:
  - name: "Create conda environment for {{ name }}/{{ vars[name ~ '_version'] }}"
    command: "{{ miniconda_install_path }}/bin/conda create --prefix {{ vars[name ~ '_install_path'] }} -c conda-forge mamba -y --force"
    # args:
    #   creates: "{{ vars[name ~ '_install_path'] }}/conda-meta"

  - name: "Install {{ name }}{{ vars[name ~ '_version'] }} into conda environment"
    command: "{{ vars[name ~ '_install_path'] }}/bin/mamba install -c bioconda -c conda-forge {{ name }}{{ version_suffix }} -y"
    vars:
      version_suffix: "{{ '=' ~ vars[name ~ '_version'] if vars[name ~ '_version'] not in ['latest', '', None] else '' }}"
  when: not vars[name ~ '_skip']
