---
- name: "Set download path for {{ name }}"
  set_fact:
    download_path: "{{ ([base_path, 'downloads', name] + ([version] if version is defined else [])) | join('/') }}"

- name: "Create download directory for {{ name }}"
  file:
    path: "{{ download_path }}"
    state: directory
    mode: "0755"

- name: "Download {{ name }}"
  get_url:
    url: "{{ source }}"
    dest: "{{ download_path }}/{{ file }}"
    mode: "0755"
    force: no
