- name: "Set download path for {{ name }}"
  set_fact:
    download_path: {{ ([base_path, 'downloads', name] + ([version] if version is defined else [])) | join('/') }}
  when: not software_skip

- name: "Create download directory for {{ name }}"
  file:
    path: "{{ download_path }}"
    state: directory
    mode: "0755"
  when: not software_skip

- name: "Ensure software_file is set"
  set_fact:
    software_file: "{{ software_file | default(name ~ '-' ~ version ~ '.tar.gz') }}"

- name: "Download {{ name }}"
  get_url:
    url: "{{ source }}"
    dest: "{{ download_path }}/{{ software_file }}"
    mode: "0755"
    force: no
  when: not software_skip
