---
- block:
  - name: "Set download file for {{ name }}"
    set_fact:
      "{{ name }}_file": "{{ lookup('vars', name ~ '_source') | basename }}"

  - name: "Set download path for {{ name }}"
    set_fact:
      "{{ name }}_download_path": "{{ ([ vars.get(name ~ '_base_path'), 'downloads', name ] + ([ vars.get(name ~ '_version') ] if vars.get(name ~ '_version') else [])) | join('/') }}"

  - name: "Create download directory for {{ name }}"
    file:
      path: "{{ vars.get(name ~ '_download_path') }}"
      state: directory
      mode: "0755"

  - name: "Download {{ name }}"
    get_url:
      url: "{{ vars.get(name ~ '_source') }}"
      dest: "{{ vars.get(name ~ '_download_path') }}/{{ vars.get(name ~ '_file') }}"
      mode: "0755"
      force: no
  when: not vars.get(name ~ '_skip')
