---
- block:
  - name: "Set build path for {{ name }}"
    set_fact:
      "{{ name }}_build_path": "{{ ([ vars.get(name ~ '_base_path'), 'builds', name ] + ([ vars.get(name ~ '_version') ] if vars.get(name ~ '_version') else [])) | join('/') }}"

  - name: "Create build directory for {{ name }}"
    file:
      path: "{{ vars.get(name ~ '_build_path') }}"
      state: directory
      mode: "0755"

  - name: "Set extra options for unarchive"
    set_fact:
      "{{ name }}_archive_opts": '{{ ["--strip-components=" ~ (vars.get(name ~ "_extract_strip_components", 1)) ] if vars.get(name ~ "_file") | lower | regex_search(".*\.(tar|tar\.gz|tgz|tar\.bz2|tbz2|tar\.xz|txz)$") else [] }}'

  - name: "Extract {{ name }} to build directory"
    unarchive:
      src: "{{ vars.get(name ~ '_download_path') }}/{{ vars.get(name ~ '_file') }}"
      dest: "{{ vars.get(name ~ '_build_path') }}"
      copy: no
      mode: "0755"
      extra_opts: "{{ vars.get(name ~ '_archive_opts') }}"
  when: not vars.get(name ~ '_skip')
