---
- name: "Set build path for {{ name }}"
  set_fact:
    build_path: "{{ ([base_path, 'builds', name] + ([version] if version is defined else [])) | join('/') }}"

- name: "Create build directory for {{ name }}"
  file:
    path: "{{ build_path }}"
    state: directory
    mode: "0755"

- name: "Set extra options for unarchive"
  set_fact:
    archive_opts: "{{ ['--strip-components=' ~ (extract_strip_components | default(1))] if file.endswith(('.tar', '.tar.gz', '.tgz', '.tar.bz2', '.tbz2', '.tar.xz', '.txz')) else [] }}"

- name: "Extract {{ name }} to build directory"
  unarchive:
    src: "{{ download_path }}/{{ file }}"
    dest: "{{ build_path }}"
    copy: no
    mode: "0755"
    extra_opts: "{{ archive_opts }}"
