- include_tasks: core.yml

- name: "Include software steps for {{ name }}"
  include_tasks: "{{ task }}.yml"
  loop: "{{ vars.get(name ~ '_steps', []) }}"
  loop_control:
    loop_var: task
  when: not vars.get(name ~ '_skip')

- include_tasks: mark_installed.yml
  when: not vars.get(name ~ '_skip')
