---
- name: "Add python_3 to depends_on"
  set_fact:
    "{{ name }}_depends_on": "{{ vars.get(name ~ '_depends_on', []) + ['python_3'] }}"
  when: not vars.get(name ~ '_skip')

- name: "Create virtualenv for {{ name }}"
  command: "{{ python_3_install_path }}/bin/python3 -m venv {{ vars.get(name ~ '_install_path') }}"
  args:
    creates: "{{ vars.get(name ~ '_install_path') }}/bin/activate"
  when: not vars.get(name ~ '_skip')

- name: "Install {{ name }} into virtualenv"
  pip:
    executable: "{{ vars.get(name ~ '_install_path') }}/bin/pip"
    name: "{{ name }}{{ ('==' ~ vars.get(name ~ '_version')) if vars.get(name ~ '_version') else '' }}"
  when: not vars.get(name ~ '_skip')
