---
- name: "Add python_3 to depends_on"
  set_fact:
    depends_on: "{{ (depends_on | default([])) + ['python_3'] }}"

- name: "Create virtualenv for {{ name }}"
  command: "{{ software_info.python_3.install_path }}/bin/python3 -m venv {{ install_path }}"
  args:
    creates: "{{ install_path }}/bin/activate"
  when: not software_skip

- name: "Install {{ name }} into virtualenv"
  pip:
    executable: "{{ install_path }}/bin/pip"
    name: "{{ name }}{{ ('==' ~ version) if version is defined else '' }}"
  when: not software_skip
